{% extends "nations/layout.html" %}

{% block content %}

<div class="col-sm-8 text-left"> 

    <p>The nations of the world, with their
        relevant demographic data.
    </p>

    <br>

    {% for demographic in demographics %}
        <h3>{{ demographic.name }}</h3>
        <br>
        <p><strong>Continent/Region: </strong>{{ demographic.region }}</p>
        <p><strong>Government Type: </strong>{{ demographic.gov_type }}</p>
        <p><strong>Population: </strong>{{ demographic.total_population }}</p>
        <br>
    {% endfor %}
    
</div>

{% endblock content %}